<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.verloop.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".VerloopActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--@android:style/Theme.Material.Light.NoActionBar-->

        <service
            android:name=".VerloopService"
            android:enabled="true" />
    </application>

</manifest>